<aside id="sidebar" class="column">
	<form class="quick_search">
		<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
	</form>
	<hr/>
	<h3>Monitoring</h3>
	<ul class="toggle">
		<li class="icn_tags"><a href="#">Server Information</a></li>
		<li class="icn_new_article"><a href="/main/health_check">master/slave health check</a></li>
		<li class="icn_categories"><a href="#">slave action monitoring</a></li>
		<li class="icn_tags"><a href="#">crawling information</a></li>
	</ul>
	<h3>Action</h3>
	<ul class="toggle">
		<li class="icn_add_user"><a href="#">today action log</a></li>
		<li class="icn_view_users"><a href="#">View Users</a></li>
		<li class="icn_profile"><a href="#">Your Profile</a></li>
	</ul>
	<footer>
		<hr />
		<p><strong>Copyright &copy; 2011 Martmo.com</strong></p>
		<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
	</footer>
</aside><!-- end of sidebar -->